# ==========================================
# Environment Variables & Secrets (PostgreSQL Credentials)
# ==========================================
.env
.env.*
!.env.example

# ==========================================
# Python & Django (Backend)
# ==========================================
venv/
backend/venv/
*.pyc
__pycache__/
media/
staticfiles/

# ==========================================
# Node.js & Frontend
# ==========================================
node_modules/
frontend/node_modules/
.next/
build/
dist/
npm-debug.log*
yarn-debug.log*

# ==========================================
# IDE & System Files
# ==========================================
.vscode/
.idea/
.DS_Store
Thumbs.db